
*{
    font-family: 'Righteous', cursive;}
    .register{background-image: url(https://cdn.pixabay.com/photo/2019/08/06/22/48/artificial-intelligence-4389372__340.jpg);
    }

    @import url('https://cdn.pixabay.com/photo/2019/08/06/22/48/artificial-intelligence-4389372__340.jpg');
*{
    font-family: "Gill Sans Extrabold", sans-serif;
}
/*nav*/

.container{
  background-color: #f4f4f5;
    border-radius: 10px;
    width: 50%;
    height: 50%;
    margin-top: 5%;
}
.navbar{
    background-color: #ee0b979a;
   
}
.container{
    height: 100%;
}
.nav {
    margin-top: 4px;
    color: rgb(114, 5, 5);
}





.btn {
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.795);
}






/*register page*/






.register-sec {
    padding: 50px 30px;
    position: relative;
    margin-top:20% ;

}

.register-sec h2 {
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 30px;
    color: #070606;
    
}


.btn-login {
    background: #f4f4f5;
    color: #0f0d0d;
    font-weight: 600;
}

.kkkk{
    text-align: center;
    height:40px ;
    margin-left: 40%;
    margin-right:40% ;
    margin-top:10px ;

    background-color: #030303;
    color: #f4f4f5;
}

/*login page*/
.login-block{
    float:left;
    width:100%;
    padding : 50px 0;
  background-image: url(https://cdn.pixabay.com/photo/2016/11/29/05/45/astronomy-1867616__340.jpg);

}
.login-sec h2 {
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 30px;
    color: #0c0c0c;
   
}

.login-sec h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    background: #0f0f0f;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto
}

.btn-login {
    background: #f5ecec;
    color: #0f0e0e;
    font-weight: 600;
}






.cccc{
   font-size: large;
    background-color: #fdfcfd;
    color: rgb(1, 2, 2);
}

